/***** GENERAL *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --light-gray: #D3D3D3; 
  --medium-gray: #A9A9A9; 
  --dark-gray: #505050; 
}

body {
  background-color: var(--medium-gray);
}

button {
  width: 18px;
  height: 18px;
  background-color: var(--dark-gray);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.6rem;
}


/***** GAMEPAD *****/

#gamePad {
  display: grid;
  grid-template-columns: 80px 240px 80px;
  width: 400px;
  margin: 2em auto;
  padding: 0.5em 0;
  border: solid 3px var(--dark-gray);
  background-color: var(--light-gray);
}

/* Display */

#canvas {
  display: block;
  width: 240px;
  height: 135px;
  margin: 0 auto;
  border: solid 3px var(--dark-gray);
  background-color: var(--medium-gray);
}

/* Right Side */

#rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5em 0.4em;
  margin-right: 0.3em;
}

#xBtn {
  margin: 0 auto;
}

#y-aRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bBtn {
  margin: 0 auto;
}

/* Left Side */

#leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#analogBase {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Makes it circular */
  background-color: var(--medium-gray); /* Optional: color for visibility */
  position: relative; /* Positioning context for the analog stick */
  margin: 0 auto; /* Center it horizontally */
}

#analog {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: var(--dark-gray);
  border-radius: 50%;
  cursor: pointer;
}