/***** GENERAL *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --light-gray: #959595; 
  --medium-gray: #6e6e6e; 
  --dark-gray: #454545; 
}

body {
  background-color: black;
}


button {
  background-color: var(--dark-gray);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; 
  transition: background-color 0.3s;
}

button:active {
  background-color: rgb(0, 0, 0);
  transform: scale(0.9);
}

#touchArea, .action-button {
  touch-action: none;
  user-select: none;
}

/**** POPUP ****/

#popup {
  width: 100%;
  height: 500px;
  background-color: black;
}

#turnGif {
  width: 100%;
}

#fullScreenBtn {
  width: 300px;
  height: 200px;
  font-size: 2rem;
  border: none;
  border-radius: 50px;
  margin: 1em auto;
}

/***** GAMEPAD *****/

#gamePad {
  display: none;
  grid-template-columns: 110px 1fr 110px;
  background-color: var(--light-gray);
}

/* Display */

#canvasCont {
  position: relative;
  display: flex;
  background-color: #101010;
}

#canvasCont::after {
  content: "";
  width: 615px;
  height: 346px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
}

canvas {
  width: 615px;
  height: 346px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#canvas2 {
  z-index: 101;
}

/* Left Side */

#leftSide {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#coordinates {
  display: none;
  grid-row: 1;
  margin: auto;
}

#directionText {
  display: none;
  grid-row: 3;
  margin: auto;
}

#touchArea {
  box-sizing: content-box;
  position: relative;
  grid-row: 2;
  justify-self: center;
  justify-content: center;
  align-self: center;
  width: 100px;
  height: 100px;
  border: 3px solid rgb(61, 61, 61);
  border-radius: 10px;
  background-color: var(--medium-gray);
}

#touchArea::before {
  position: absolute;
  display: grid;
  content: "";
  width: 75px;
  height: 75px;
  border: 4px solid rgba(134, 134, 134, 0.101);
  border-radius: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#touchArea::after {
  position: absolute;
  display: grid;
  content: "";
  width: 25px;
  height: 25px;
  border: 3px solid rgba(134, 134, 134, 0.301);
  border-radius: 30%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homeBtn {
  grid-row: 3;
  box-sizing: content-box;
  width: 25px;
  height: 25px;
  border: #1b1b1b solid 2px;
  align-self: center;
  justify-self: center;
  background-color: var(--dark-gray);
}

#homeBtn i {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.425);
  margin: 3px 1px 0 0;
}


/* Right Side */

#rightSide {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  align-items: center;
  background-color: var(--light-gray);
  padding-bottom: 2em;
}

#optionBtn {
  box-sizing: content-box;
  width: 30px;
  height: 12px;
  border: #787878 solid 1px;
  align-self: flex-start;
  margin: 0 0 2.5em 1em;
  background-color: var(--dark-gray);
  }

.action-button {
  width: 80px;
  height: 80px;
  border: #787878 solid 3px;
  border-radius: 18%;
}

.action-button.active {
  transform: scale(0.9);
  background-color: black !important;
}

.action-button svg {
  pointer-events: none; /* Crucial for touch handling */
  transition: transform 0.1s ease; /* Match button transition */
  vertical-align: middle;
}

.action-button.active svg {
  transform: scale(0.9); /* Scale icon with button */
}

#actBtn1 svg {
  stroke: rgb(88, 203, 173);
}
#actBtn2 svg {
  stroke: rgb(212, 162, 187);
}
#actBtn3 svg {
  stroke: rgb(165, 175, 233);
}

.holding {
  background: rgba(0, 0, 0, 0.2) !important;
  transform: scale(0.95);
  transition: all 0.2s ease;
}

/* FullScreen */

