/***** GENERAL *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --light-gray: #959595; 
  --medium-gray: #505050; 
  --dark-gray: #454545; 
}

body {
  background-color: var(--medium-gray);
}


button {
  width: 30px;
  height: 30px;
  background-color: var(--dark-gray);
  color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-tap-highlight-color: transparent; 
  transition: background-color 0.3s;
}

button:active {
  background-color: rgb(0, 0, 0);
  transform: scale(0.9);
}


/***** GAMEPAD *****/

#gamePad {
  display: grid;
  grid-template-columns: 13% 74% 13%;
  width: 860px;
  height: 375px;
  background-color: var(--light-gray);
}

.analogBase {
  grid-row: 2;
  justify-self: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--dark-gray);
}

/* Display */

#canvasCont {
  display: flex;
  background-color: #101010;
}

#canvas {
  width: 615px;
  height: 346px;
  margin: auto auto;
  background-color: #000000;
}

/* Left Side */

#leftSide {
  display: grid;
  grid-template-rows: 10% 30% 30% 10%;
  align-items: center;
  justify-items: center;
}

#minusBtn {
  grid-row: 1;
  justify-self: end;
  width: 17px;
  height: 5px;
  border-radius: 0;
  margin-right: 12px;
}

#directionBtnCont {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100px;
  padding: 1.7em 0.2em;
  margin-right: 0.3em;
}

#upBtn {
  margin: 0 auto;
}

#left-rightRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#downBtn {
  margin: 0 auto;
}

#fullScreenBtn {
  grid-row: 4;
  justify-self: end;
  width: 20px;
  height: 20px;
  border-radius: 0;
  margin-right: 25px;
}

/* Right Side */

#rightSide {
  display: grid;
  grid-template-rows: 10% 30% 30% 10%;
  align-items: center;
  justify-items: center;
}

#plusBtn {
  grid-row: 1;
  display: flex; 
  justify-content: center;
  align-items: center;
  justify-self: start;
  width: 37px;
  height: 37px;
  margin-left: 12px;
  border-radius: 0;
  background-color: transparent;
}

#plusBtnHorizontal {
  background-color: var(--dark-gray);
  width: 17px;
  height: 5px;
}

#plusBtnVertical {
  position: absolute;  
  background-color: var(--dark-gray);
  width: 5px;
  height: 17px;
}

#actionBtnCont {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100px;
  padding: 1.7em 0.2em;
  margin-left: 0.3em;
}

#angleAnalogBase {
  grid-row: 3;
}

#xBtn {
  margin: 0 auto;
}

#y-aRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bBtn {
  margin: 0 auto;
}

#homeBtn {
  grid-row: 4;
  justify-self: start;
  width: 25px;
  height: 25px;
  margin-left: 25px;
  border: solid 2px var(--medium-gray);
}


/* FullScreen */

.blinking-red {
  animation: blink 1s infinite; /* Animation lasts 1 second and repeats infinitely */
}

@keyframes blink {
  0% {
      background-color: transparent; /* Start with no background color */
  }
  50% {
      background-color: var(--dark-gray); /* Change to red at halfway point */
  }
  100% {
      background-color: transparent; /* Fade back to transparent */
  }
}